html {font-family: sans-serif;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%; height: 100%; font-size: 10px;}
body {margin: 0;padding: 0;height: 100%; font-family: 苹方-简 常规体; color: #2F3A5E;}
p{
    margin: 0;
}
.hide{display: none}
input{
    border: none;
    outline: none;
    width: 100%;
}
ul{
    padding: 0;
}
button, select{
    outline: none;
}
var {
    font-style: normal;
}
.hide{display: none}
.clear{clear: both;}
.container {min-width: 360px; padding: 0;}
@media (min-width: 360px) {
        .container {width: 360px;}
}
@media (min-width: 540px) {
        .container {width: 540px;}
}
@media (min-width: 720px) {
        .container {width: 720px;}
}
@media (min-width: 960px) {
        .container {width: 960px;}
}
@media (min-width: 1280px){
        .container {width: 1280px;}
}
@media (min-width: 992px) {
    .p-l-0 {padding-left:0;}
}
button{
    border: none;
    background: none;
}
.container{
    width: 100%;
    /* min-width: 960px; */
    /* width: 1440px; */
    /* max-width: 1440px; */
    /* height: 969px; */
    height: 100%;
    /* min-height: 860px; */
    /* max-height: 1024px; */
    position: relative;
    /* margin: 20px auto;
    border: 1px solid #EBEEF1;  */
    /* -moz-box-shadow:2px 2px 10px #EBEEF1;
    -webkit-box-shadow:2px 2px 10px #EBEEF1;
    box-shadow:2px 2px 10px #EBEEF1; */

}
#mix_stream_tpl {
    display: none;
}
.head {
    height: 6%;
    font-family: 苹方-简 中黑体;
    min-height: 60px;
}
.head-img{
    width: 7%;
    min-width: 116px;
    position: relative;
    top: 4%;
    left: 2%;
    float: left;
    font-family: "苹方-简 中粗体";
    font-weight: bold;
    font-size: 2rem;
}
.head-img img {
    width: 30%;
}
.operation{
    width: 10%;
    float:right;
}
.operation span{
    display: inline-block;
    margin:1em;
}
.operation :first-child{
    width: 12px;
    height: 1px;
    background: #65686C;
    border-radius: 1px;
}
.operation :nth-child(2) {
    width: 12px;
    height: 12px;
    border-radius: 1px;
    border: 1px solid #65686C;
    position:relative;
    top: 5px;

}
    /* .operation :nth-child(3) {
        width: 13px;
        height: 13px;
        background: #65686C;
        position:relative;
        top: 5px;

    } */
.operation :nth-child(3) {
    display: inline-block;
    width: 12px;
    height: 1px;
    background: #333;
    transform: rotate(45deg);
}
.operation :nth-child(3)::after {
    content: '';
    display: block;
    width: 12px;
    height: 1px;
    background: #333;
    transform: rotate(-90deg);
}
.cloudfont {
    /* width: 50%; */
    display: inline;
}
.set {
    float: right;
    padding: 5px 0px;
}
.set img{
    width: 26px; 
    height: 24.7px;
} 
.logo{
    width: 100%;
    height: 100%;
    min-height: 580px;
    position: absolute;
    background-image: url(../demo/imgs/pic.png);
    background-repeat: no-repeat;
    /* margin-top: -1em; */
    background-size: 100% 100%;
}

.logo img{
    display: block;
    /* margin: 10% auto; */
    width: 100%;
}
.title-info{
    margin: 1px 690px;
}
.login-roles{
    margin: 10% auto;
    width: 100%;
    height: 6%;
}

.role{
    float: left;
    margin-left: 3em;
    margin-right: 1em;
    color:  #9A9EAC ;
}
.role img{
    width: 100%;
    height: 100%;
    max-width: 200px;
}
.role-info{
    height: 20px;
    clear: both;
    /* margin: 50px auto; */
    text-align: center;
    vertical-align: middle;
    /* width: 50%; */
}
.role-info:hover{
    cursor: pointer;
}
.role-info:focus {
    outline: none;
}
.ico {
    float: left;
    margin: 2.5px 5px 0 0;
    width: 16px;
    height: 16px;
    /* background: #DDDDDD; */
    border: 1px solid #D7DAE7;
    border-radius: 50%;
    
}
.checked{
    border: 1px solid #327FFE ;
}
.checked-inner {
    background-color: #327FFE;
}
.checked+.role-text{
    color: #2F3A5E;
}
.ico-inner{
    width: 10px;
    height: 10px;
    /* background: #FFFFFF; */
    display: block;
    border-radius: 50%;
    margin: 2px auto;
}
.role-text{
    float: left;
}
.login-info{
    width: 26%;
    height: 46%;
    max-width: 375px;
    max-height: 440px;
    min-width: 375px;
    min-height: 440px;
    /* margin-top: 24%; */
    margin: auto;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    clear: both;
    background-color: #fff;
    color: #2F3A5E;
    z-index: 1;
    border-radius: 4px;
}
.login-info .setting{
    top: 1.5em;
}
.login-info input{
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #EBEEF1;
    width: 100%;
    height: 70%;
    text-align: center;
    padding: 30px 0 5px;
}
.login-user {
    width: 80%;
    margin: 0 auto;
}
.login {
    width: 80%;
    height: 9%;
    margin: 0 auto;
}
.login button{
    width: 100%;
    color: white;
    border-radius: 38px;
    background-color: #327FFE;
    height: 100%;
    
}
.copy-right{
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 7%;
    color: #fff;
    line-height: 20px;
    z-index: 0;
    font-family: 苹方-简 常规体;
    font-size: 1.4rem;
    font-weight: 1;
}
.video-container{
    /* width: 100%; */
    position: relative;
    height: 85%;
    clear: both;
    background-color: #DEDEDE;
    font-family: 苹方-简 常规体;
    /* background: url(../src/load.png) no-repeat center 60%; */
}
.wait-video {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 20%;
    min-width: 160px;
    font-size: 2rem;
    letter-spacing: .2rem;
    text-align: center;
    color: #c3c3c3;
}
.participant{
    width: 16.7%;
    height: 100%;
    float: left;
    background-color: #f8f8f8;
    overflow: hidden;
    /* border: 2px solid black; */
    
}
.participant-info{
    text-align: center;
    height: 6%;
    min-height: 46px;
    /* position: relative; */
    padding: 1em 0;
    color: #222222;
}
.video{
    height: 100%;
    width: 83%;
    float: left;
}
.head-img-video {
    width: 12.6%;
    text-align: center;
}
.head-img-video img {
    width: 20%;
    min-width: 44px;
}
.head-img-video span {
    min-width: 72px;
    display: inline-block;
    color: #000000;
    font-family: 
    苹方-简 中黑体;
}
.footer{
    width: 100%;
    height: 5%;
    min-height: 71px;
    /* position: fixed; */
    bottom: 1%;
    padding-bottom: .5em;
    margin-top: .5em;
    color: #666666;
}
.operate-items{
    width: 40%;
    max-width: 766px;
    height: 100%;
    /* margin: 0 auto; */
    position: relative;
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin:0 auto 0;
}
.operate-items div{
    width: 8%;
    height: 100%;
    max-width: 70px;
    max-height: 71px;
    float: left;
    margin-left: 8%;
    min-width: 56px;
}
.operate-items div:nth-child(1){
    margin-left: 0;
}
.operate-items button{
    width: 70%;
    height: 70%;
    margin: 0 12%;
    border: none;
    background: none;
    display: inherit;
}
.operate-items div:nth-child(5) button{
    width: 90%;
}
.operate-items img{
    width: 100%;
}
.operate-items p{
    text-align: center;
}
.times{
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    
}
.user-info{
    text-align: center;
    height: 50px;
    float: left;
    display: flex;
    align-items: center;
    width: 14%;
    min-width: 267px;
    position: relative;
    margin-left: 33%;
    color: #222222;
}

.user-info input{
    width: 58%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.user-info div{
    font-size: 14px;
    font-weight: bold;
}
.setting-panel{
    width: 33%;
    height: 60%;
    min-width: 630px;
    min-height: 480px;
    border: 1px solid #EBEEF1;
    position: absolute;
    margin-left: 13%;
    right: 0;
    z-index: 999;
    background-color: #fff;
    left: 30%;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    font-family: 苹方-简 常规体;

}
.setting-panel .head{
    width: 100%;
    height: 9%;
    min-height: 30px;
    border-bottom: 1px solid #EBEEF1;
}
.setting{
    position: relative;
    right: 2em;
    float: right;
    width:1.5em;
    top: 1em;
    cursor: pointer;
}
.setting img{
    width: 100%;
}
.setting-text p {
    display: table-cell;
    vertical-align: middle;
}
.setting-text{
    float: left;
    position: relative;
    height: 100%;
    display: table;
    left: 1em;
    font-family: 苹方-简 中黑体;
    font-weight: bold;
    color: #000000;
}
.log-title {
    clear: both;
    width: 37%;
    margin:2em;
    font-size: 2rem;
    font-family: 苹方-简 常规体;
    color:  #2F3A5E ;
}
.log-title :first-child {
    font-weight: bold;
    font-family: 苹方-简 中粗体;
}
.close{
    line-height: 2;
    opacity: 1;
}
.close:hover{
    opacity: 1;
}
.close img{
    width: 32%;
}
.setting-container{
    height: 91%;
    padding-top: 1.5em;
}
.setting-mesage{
    width: 80%;
    height: 86%;
    position: relative;
    margin: 0 auto;

}
.video-data{
    display: inline-block;
    /* margin: 0 1.6em 0 0; */

}
.rtmp-data, .mix-data{
    display: inline-block;
    /* margin: 0 1.2em 0 0; */
}
.video-data select, .mix-data select{
    width: 10.5em;
    padding: 0 0 0 .5em;
    border: 1px solid #DDDDDD;
    appearance: none;
    background: url(../demo/imgs/down@2x.png) no-repeat 96%;
    background-size: 6%;
    background-color: #fff;
    height: 30px;
    font-size: 1.4rem;
    margin-left: 5.1em;
    color: #999999;
    cursor: pointer;
}
.video-data select:focus, .mix-data select:focus {
    border-color:#7293FF;
}

.mix-preset select{
    width:6.5em;
    margin-left: 3.1em;
}
.mix-setting :nth-child(4) select {
    background-size: 10%;
    background-position-x: 5.3em;
}
.mix-setting :nth-child(5) select {
    width: 10.5em;
}
.mix-set select{
    width: 6em;
}
.data-btn, .rtmp-btn{
    width: 40px;
    height: 20px;
    /* position: absolute; */
    /* left: 35%; */
    /* top: 4px; */
    /* margin-top: -1.2em; */
    background: #006EFE;
    border-radius: 20px;

}
.data-btn-span{
    width: 18px;
    height: 18px;
    background: #FFFFFF;
    border-radius: 20px;
    display: inline-block;
    margin-left: 54%;
}
.none button{
    background: #F2F2F2;
}
.none .data-btn-span{
    margin-left: -21px;
}
.vido-setting{
    clear: both;
    height: 33%;
    border-bottom: 1px solid  #EBEEF1 ;
    margin-bottom: 5%;
}
.vido-setting .video-preset {
    margin-top: -5px;
}
.mix-setting :nth-child(4) {
    clear: both;
}
.video-set,.rtmp-set, .mix-set {
    float: left;
    width: 41%;
    margin-bottom: 3%;
    /* min-width: 230px; */
}
.video-set :nth-child(2), .rtmp-set :nth-child(2), .mix-set :nth-child(2) {
    float: right;
    height: 20px;
}
.video-preset, .rtmp-preset,.mix-preset{
    float: right;
    width: 53%;
}
.video-test{
    /* width: 16%; */
    font-size: 1.4rem;
    border-left: 2px solid #7293FF;
    padding-left: 0.5em;
    color: #171F3C;
    margin-bottom: 1em;
}

.mix-setting :nth-child(4), .mix-setting :nth-child(5) {
    float: left;
    margin-top: 1em;
    width: 47%;
}
.mix-setting :nth-child(5){
    width: 53%;
}
.setting-mesage label{
    font-weight: 0 !important;
}
.video-preset p, .rtmp-preset p, .mix-preset p{
    display: inline;
}
.rtmp-setting{
    height: 22%;
    border-bottom: 1px solid  #EBEEF1 ;
    margin-bottom: 5%;
}
.rtmp-data input, .mix-data input{
    width: 12.3em;
    border-bottom: 1px solid #DDDDDD;
    background: none;    
    font-size: 1.2rem;  
    text-align: center;
    color: #222222; 
    margin-left: 1.5em;     
}

.page-video {
    width: 1280px;
    height: 100%;
    float: left;
    position: relative;
}
.central-stream{
    width: 100%;
    height: 100%;
    position: relative;
    float: right;
}
.stream-item{
    width: 100%;
    height: 83%;
    position: relative;
    top: 0px;
    left: 0px; 
    /* background: url(../src/load.png) no-repeat center 60%; */
    /* -webkit-box-shadow:  2px 2px 4px rgba(0, 0, 0, .075);
    box-shadow:  2px 2px 4px rgba(0, 0, 0, .075); */
}
.wait-play {
    background: url(../src/load.png) no-repeat center 60%;
}
.stream-video{
    width:100%;
    height:100%; 
    position: absolute;
    top:0;
    left:0; 
    overflow: hidden;
}
.stream-info{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    display: none
}
.stream-info pre{
    margin:0;
    padding:4px;
    font-size:12px; 
    line-height:12px;
    height: 100%;
    border:none; 
    overflow: hidden;
    color:#df4b07ce;
    background-color:rgba(0,0,0,0);
}
.stream-mask{
    /* width: 100%;
    height:100%;
    position: absolute;
    top:0;left:0; */

    width: 40%;
    height: 10%;
    min-height: 47px;
    position: relative;
    bottom: -37%;
    left: 30%;
    
}
.stream-mask .video,.stream-mask .audio{
    height: 100%;
    width: 50%;
    float: left;
}
.stream-mask .video-mute,.stream-mask .audio-mute{
    height: 100%;
    width: 50%;
    float: left;
}
.stream-mask button{
    width: 50%;
    height: 50%;
    min-height: 47px;
}
.audio button {
    background: url(../demo/imgs/voice.png) no-repeat center;
}
.video button{
    background: url(../demo/imgs/video.png) no-repeat center;
}
.screen button{
    background: url(../demo/imgs/shared.png) no-repeat center;
}
.audio-mute button{
    background: url(../demo/imgs/voice-mute.png) no-repeat center;
}
.video-mute button{
    background: url(../demo/imgs/video-mute.png) no-repeat center;
}

.screen-mute button{
    background: url(../demo/imgs/shared-mute.png) no-repeat center;
}
.unaudio button {
    background: url(../demo/imgs/unvoice.png) no-repeat center;
}
.unvideo button{
    background: url(../demo/imgs/unvideo.png) no-repeat center;
}
.unscreen button{
    background: url(../demo/imgs/unshared.png) no-repeat center;
}
/* .screen button{
    background: url(../demo/imgs/screen.png) no-repeat center;
}
.screen-mute button{
    background: url(../demo/imgs/screen@2xmute.png) no-repeat center;
} */
.on-off button{
    background: url(../demo/imgs/hang-up.png) no-repeat center;
}
.readOnly{
    pointer-events: none;
}
#revokeLabel{
    text-align: center;
}
.err {
    width: 100%;
    display: inline-block;
    text-align: center;
    color: red;
    font-size: 1.2rem;
    position: relative;
    top: 2.5em;
}
.forbid{
    pointer-events:none;
}
.otherStream{
    width: 216px;
    float: left;
    height: 500px;
}
.participants{
    width: 100%;
    height: 94%;
    overflow-y: scroll;
    overflow-x: hidden;

}
ul{
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0 5% 0 4%;
    /* background-color: #f8f8f8; */
}


li {
    list-style: none;
    width: 100%;
    height: 24.5%;
    min-height: 95px;
    /* padding-bottom: 5px; */
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

/* participant::-webkit-scrollbar{width: 3px; height: 10px;}
participant::-webkit-scrollbar-button:vertical{display: none;}
participant::-webkit-scrollbar-track, ::-webkit-scrollbar-corner{background-color: #e2e2e2;}
participant::-webkit-scrollbar-thumb{border-radius: 0; background-color: rgba(0,0,0,.3);}
participant::-webkit-scrollbar-thumb:vertical:hover{background-color: rgba(0,0,0,.35);}
participant::-webkit-scrollbar-thumb:vertical:active{background-color: rgba(0,0,0,.38);} */
::-webkit-scrollbar {/*滚动条*/
    width:3px;
}
::-webkit-scrollbar-track {/*滚动槽*/
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0);
    border-radius:10px;
}
::-webkit-scrollbar-thumb {/*滚动条滑块*/
    border-radius:10px;
    background:rgba(0,0,0,0.1);
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.1);
}
ul li:nth-child(1){
    position: absolute !important;
    width: 83.5%;
    left: 16.5% !important;
    height: 100%;
    top: 0;
} 
ul li:nth-child(1) .stream-item{
    width: 100%;
    height: 100%;
} 
ul li:nth-child(1) .stream-info{
    display: block;
    position: relative;
    top: 2.5em;
    left: 4em;
    width: 30%;
    height: 50%;
}
ul li:nth-child(1) video{
    object-fit: contain !important;
}
ul li:nth-child(1) .userid{
    display: none;
}
 ul .firstvideo{
     display: block;
     cursor: default;
 }
.stream-item{
    /* width: 100%;
    height: 83%; */
    /* border: 1px solid black; */
}
ul li .userid {
    position: relative;
    height: 17%;
    /* top:100%; */
    display: block;
    background-color: #fff;
}
.userid input{
    width: 100%;
    border: none;
    background: none;
    text-overflow: ellipsis;
    padding: 0 1em;
    margin: 0;
    overflow: hidden;

}
.userid{
    display: none;
}
/* .userid:hover{
    text-overflow:inherit; 
    overflow: visible; 
    white-space: pre-line;      */
    /*合并空白符序列，但是保留换行符。*/
/* } */
.firstvideo .stream-video{
    text-align: center;
    /* padding: 4em; */
    background: #DEDEDE;
    display: table;
}
.firstvideo .stream-video p{
    color: #9E9E9E;
    display: table-cell;
    vertical-align: middle;
    font-size: 1.4rem;
}
/* ul li:nth-child(1) .userid{
    display: none;
}  */
 .datas{
    margin: 14px;
    float: right;
    width: 11%;
 }
 i{
     color: darkgray;
 }
 .rtmp-data input::-webkit-input-placeholder, .mix-data input::-webkit-input-placeholder { 
    /* WebKit browsers */ 
    color: #C9C9C9; 
    } 
    .rtmp-data input:-moz-placeholder, .mix-data input:-moz-placeholder { 
    /* Mozilla Firefox 4 to 18 */ 
    color :#C9C9C9; 
    } 
    .rtmp-data input::-moz-placeholde, .mix-data input::-moz-placeholder { 
    /* Mozilla Firefox 19+ */ 
    color: #C9C9C9; 
    } 
    .rtmp-data input:-ms-input-placeholder, .mix-data input:-ms-input-placeholder { 
    /* Internet Explorer 10+ */ 
    color: #C9C9C9; 
    }
.cover {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: #ffffff;
    opacity: 0;
}
.toast-title {font-weight:bold;margin-bottom:5px;}
.toast-message {-ms-word-wrap:break-word;word-wrap:break-word;}
.toast-message a,.toast-message label {color:#ffffff;}
/* .toast-message a:hover {color:#cccccc;text-decoration:none;} */
.toast-close-button {position:relative;right:-0.3em;top:-0.3em;float:right;font-size:20px;font-weight:bold;color:#ffffff;zoom:1;-webkit-opacity:0.8;-moz-opacity:0.8;opacity:0.8;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);filter:alpha(opacity=80);}
.toast-close-button:hover,.toast-close-button:focus {text-decoration:none;cursor:pointer;zoom:1;-webkit-opacity:1;-moz-opacity:1;opacity:1;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);filter:alpha(opacity=100);}
/*Additional properties for button versioniOS requires the button element instead of an anchor tag.If you want the anchor version,it requires `href="#"`.*/button.toast-close-button {padding:0;cursor:pointer;background:transparent;border:0;-webkit-appearance:none;}
.toast-top-full-width {top:0;right:0;width:100%;margin-top:15px;}
.toast-top-full-width .toast {margin-bottom:15px !important;}
.toast-bottom-full-width {bottom:0;right:0;width:100%;}
.toast-top-left {top:12px;left:12px;}
.toast-top-right {top:12px;right:12px;}
.toast-bottom-right {right:12px;bottom:12px;}
.toast-bottom-left {bottom:12px;left:12px;}
#toast-container {position:fixed;z-index:999999;/*overrides*/}
#toast-container * {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
#toast-container > div {margin:0 0 6px;padding:12px 15px;width:200px;height:50px;margin-bottom:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;background-position:15px center;background-repeat:no-repeat;color:#ffffff;zoom:1;-webkit-opacity:1;-moz-opacity:1;opacity:1;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);filter:alpha(opacity=80);}
#toast-container > div i {margin-right:6px;}
/* #toast-container >:hover {zoom:1;-webkit-opacity:1;-moz-opacity:1;opacity:1;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);filter:alpha(opacity=100);cursor:pointer;} */
#toast-container.toast-top-full-width > div,#toast-container.toast-bottom-full-width > div {width:96%;margin:auto;}
.toast {background-color:#030303;}
.toast-success {background-color:#8dc63f;position: relative; top: 60px;border-radius: 8px; text-align: center;color: #ffffff;}
.toast-error {background-color:#cc3f44;position: relative; top: 60px;border-radius: 8px; text-align: center;color: #ffffff;}
.toast-info {background-color:rgba(0,0,0,0.2); position: relative; top: 60px;border-radius: 8px; text-align: center;color: #ffffff;}
.toast-warning {background-color:#ffba00;position: relative; top: 60px;border-radius: 8px; text-align: center;color: #ffffff;}
.toast-default > div {background-color:rgba(44,46,47,0.8);}
/*Responsive Design*/@media all and (max-width:240px) {#toast-container > div {padding:8px 8px 8px 50px;width:11em;}
#toast-container .toast-close-button {right:-0.2em;top:-0.2em;}
}
@media all and (min-width:241px) and (max-width:480px) {#toast-container > div {padding:8px 8px 8px 50px;width:18em;}
#toast-container .toast-close-button {right:-0.2em;top:-0.2em;}
}